@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/depoimentos.css");
@import url("styles/footer.css");
@import url("styles/about.css");
@import url("styles/contato.css");

:root {
    --cor-principal: #F3EEEA;
    --font-principal: "Lato", sans-serif;
    --font-secundaria: "Krona One", sans-serif;
    --font-terciaria: "Montserrat", sans-serif;
    --color-font-menu: #FFFFFF;
    --color-menu-fundo: #FDA65D;
    --color-font-texto: #f9c582;
    --color-banner-fundo: #776B5D;
    --color-descricao: #FFFFFF;
    --color-copyright: #FFFFFF;
    --color-ancora: #6B240C;
    --color-font-hover:#FDA65D;
    --btn-menu: #FDA65D;
    --shadow: 0px 0px 20px #f4f2f2;
}

body {
    color: var(--color-font);
    background-color: var(--color-banner-fundo);
    font-size: 16px;
    font-weight: 400;

    opacity: 0;
	transition: opacity 5s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.ativa {
    display: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}

.banner_header {
    display: none;
}

@media (min-width: 600px) {
    
    .banner_header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .ativa {
        display: none;
    }

    .banner_header_nexus {
        height: 27rem;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container_icon {
        display: none;
    }
    
    .lista-menu {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100vw;
        justify-content: space-evenly;
        padding-top: 1em;
        background-color: var(--color-banner-fundo);
    }

    .lista-menu__item {
        background-color: inherit;
        margin-bottom: 1rem;
        border: 1px solid var(--btn-menu) ;
        padding: 0.5em;
        border-radius: 10px;
        box-shadow: 5px 1px 1px var(--btn-menu);
    }

    .lista-menu__link {
        cursor: pointer;
    }

    .lista-menu__item:hover {
        background: var(--color-font-hover);
        border-radius: 1em;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .scroll-efect,
    .scroll-banner-efect,
    .scroll-banner-img-efect,
    .scroll-carrossel-titulo-efect,
    .scroll-content-titulo-efect,
    .scroll-content-descricao-efect,
    .scroll-depoimentos-efect {
        visibility: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .container {
    display: flex;
    flex-direction: column;
   }

    .banner_header {
        display: none;
    }

    .ativa {
        display: block;
        width: 95%;
        height: 100vh;
    }

    .banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .banner__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .banner__titulo {
        text-align: center;
        font-size: 48px;
        color: var(--color-descricao);
    }

    .banner__texto {
        text-align: center;
         width: 50%;
         font-size: 24px;
    }
}