.banner {
    background: var(--color-banner-fundo);
    color: var(--color-font-texto);
    text-align: center;
    padding: 2em 2.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-principal);
}

.banner__texto {
    font-weight: 400;
    margin-top: 1em;
    font-family: var(--font-terciaria);
}

.banner__imagem {
    width: 50%;
}