.banner {
    background: var(--color-banner-fundo);
    color: var(--color-font-texto);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin-top: 1em;
}

.banner__imagem {
    width: 50%;
}