.carrossel {
    margin: 0.5em;
}
.carrossel__titulo {
    color: var(--color-font-texto);
    font-family: var(--font-principal);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0em 0.5em 0em;
}


#pagination {
    position: initial;
    margin: 0.5em 0em;
}
.swiper-slide img {
    width: 100%;
    border-radius: 0.5em;
}

#prev, #next {
    display: none;
}

