.container__conexao {
    text-align: center;
    padding: 1em;
}

.conexao__titulo {
    color: var(--color-font-texto);
    font-family: var(--font-principal);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 2em;
}

.conexao__subtitulo {
    color: var(--color-font-texto);
    font-family: var(--font-principal);
    margin-top: 1em;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.conexao__descricao {
    color: var(--color-descricao);
    margin: 1.5em 0em;
    font-family: var(--font-secundaria);
    font-size: 14px;
}

/* video.depoimento__video::-internal-media-controls-download-button {
    display:none;
}

video.depoimento__video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video.depoimento__video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed
}
*/

.depoimentos {
    text-align: center;
}

/* .depoimento__video {
    width: 95vw;
    margin: auto;
    border-radius: 8px;
} */

iframe {
    width: 96%;
    aspect-ratio: 16 / 9; /* Proporção de 16:9 */
    border-radius: 8px;
}


.conexao__imagem {
    width: 100%;
    border-radius: 8px;
}

@media screen and (min-width: 1200px) {

    .conexao__titulo {
        /* margin-bottom: 1rem; */
        font-size: 32px;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    .conexao__subtitulo {
        font-size: 24px;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    .conexao__descricao {
        font-size: 18px;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    .historia__content {
        margin: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .inverte {
        flex-direction: row-reverse;
    }

    .conexao__about {
        font-size: 24px;
        text-align: justify;
        width: 40%;
    }

    .conexao__imagem {
        width: 50%;
        box-shadow: var(--shadow);
    }

    .historia-img {
        width: 40%;
    }

    .depoimentos {
        width: 70%;
    }
    
}